/*@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');*/

/* TABLE OF CONTENTS
    1. Custom Properties
    2. Global Styles
    3. Typography
        3.1 Tabs
    4. Layout
        4.1 Header
        4.2 Countdown
        4.3 Gallery
        4.4 Our Story
        4.6 Timeline
        4.7 Footer
        
    5. Components
        5.1 Buttons
        5.2 Paralax
*/

/*  =================
    1. Custom Properties
    ================= */
    :root { 
        --clr-primary-200: #D9D9D9;
        --clr-primary-500: #3b3b3d;
        --clr-primary-700: #181717;
        --clr-primary-900: rgba(24, 23, 23, 0.6);
        --clr-accent-300: #57abe2;
        --clr-accent-700: rgba(69, 110, 199, 0.2);
        /*--font-mono: "PT Mono";*/
    }

/*  =================
    2. Global Styles
    ================= */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body{
        background-color: var(--clr-primary-500);
        color: var(--clr-primary-200);
        font-family: "Calibre", sans-serif;
        overflow-x: hidden;
    }

/*  =================
    3. Typography
    ================= */
    h1,
    h2,
    h3,
    p {
        margin: 0;
    }

    /* 3.1 Tabs */

    .tab {
        display: inline-block;
        margin-left: 60px;
    }

    .tab-large {
    display: inline-block;
    margin-left: 175px;
    }

/*  =================
    4. Layout
    ================= */

    /* 4.1 Header */
    header {
        padding: 20rem 0rem 0rem 0rem;
        background-image: url("/img/img4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .down-arrow {
        text-align: center;
        padding: 15rem 0rem 2rem 0rem;
    }

    /* 4.2 Countdown */
    #countdown {
        padding: 8rem 0rem;
    }

    /* 4.3 Quote */
    #quote {
        color: var(--clr-primary-200);
        padding: 3rem 0rem;
    }

    .quote-margin {
        margin: auto;
        margin: 0% 40%;
        min-width: 250px;
        padding-bottom: 2rem;
    }

    /* 4.4 Gallery */
    #gallery {
        background-color: var(--clr-primary-200);
        color: var(--clr-primary-200);
        padding: 3rem 0rem;
    }

    /* 4.5 Our Story */
    #our-story {
        color: var(--clr-primary-200);
        padding: 5rem 0rem;
    }

    .txt-our-story {
        font-size: 4em;
    }

    /* 4.6 Timeline */
    #timeline {
        background-color: var(--clr-primary-500);
        color: var(--clr-primary-200);
        padding: 25rem 0rem;
    }

    /* 4.7 Footer */
  

/*  =================
    5. Components
    ================= */

    /* 5.1 Buttons */

    /* 5.2 Paralax */
    .parallax1 {
        /* The image used */
        background-image: url("/img/img1.jpeg");
      
        /* Set a specific height */
        min-height: 300px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    .parallax2 {
        /* The image used */
        background-image: url("/img/img3.jpeg");
      
        /* Set a specific height */
        min-height: 200px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }